<!DOCTYPE html>

{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <body>

        <div class="container bg-primary p-5 form-layout">

            <h3>Update record</h3>
           
    
            <hr>
            <br>
    
            <form method="POST" autocomplete="off">
    
                {% csrf_token %}
    
                {{form|crispy}}
    
                <br>
    
                <button type="submit" class="btn btn-light w-100 btn-block p-2"> Update </button>
    
            </form>
        </div>

    </body>



{% endblock %}

